@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <h1>AggeQuiz</h1>
@if(Model.TempQuestion is null)
{
    <h1>@Model.Message</h1>
    <meta http-equiv="refresh" content="1; URL=/Index" />
}else
{
    <h1>@Model.Message</h1>
    <div class="row">
    <div class="col">
        <h3>@Model.TempQuestion.TheQuestion</h3>
    </div>
</div>
<div class="row">
    <form method="post">
    
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">@Model.TempAnswerList[0].TheAnswer</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@Model.TempAnswerList[0].Id" asp-for="@Model.input">
            </div>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">@Model.TempAnswerList[1].TheAnswer</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@Model.TempAnswerList[1].Id" asp-for="@Model.input">
            </div>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">@Model.TempAnswerList[2].TheAnswer</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@Model.TempAnswerList[2].Id" asp-for="@Model.input">
            </div>
          </div>
        </div>
    
    <button class="btn btn-light" type="submit">
                    Submit
                </button>
    </form>
    </div>
}





